version: 2
# https://circleci.com/docs/configuration#machine
jobs:
    # @todo, separate build and test phases.
    build:
        docker:
            - image: quay.io/pantheon-public/build-tools-ci:1.x
        working_directory: ~/pantheon_advanced_page_cache
        environment:
            BASH_ENV: ~/.bashrc
            TZ: "/usr/share/zoneinfo/America/Los_Angeles"
            TERMINUS_SITE: d8-papc
        steps:
            - checkout
            - restore_cache:
                key: dependency-cache-{{ checksum "composer.lock" }}
            - run:
                name: Composer install
                command: |
                  composer install
                  drush help
            - save_cache:
                key: dependency-cache-{{ checksum "composer.lock" }}
                paths:
                  - ~/.composer/cache
            - run:
                name: PHP Code Sniff
                command: composer codesniff
            - run:
                name: Unit Tests for Behat helper
                command: composer phpunit
            - run:
                name: login-pantheon
                command: |
                  terminus auth:login -n --machine-token="$TERMINUS_TOKEN"
            - run:
                name: delete old sites
                command: |
                  terminus env:list --field=id $TERMINUS_SITE | grep -v '[a-z]' | grep -Eo '[0-9]{1,9}' | sort --numeric-sort --reverse | sed 1,7d | xargs -n1 -I ENV terminus env:delete --yes $TERMINUS_SITE.ENV
            - run:
                name: ssh
                command: |
                  touch $HOME/.ssh/config
                  echo "StrictHostKeyChecking no" >> "$HOME/.ssh/config"
            - run:
                name: apply upstream updates in dev
                command: |
                  terminus upstream:updates:apply $TERMINUS_SITE
            - run:
                name: make-multidev
                command: |
                  terminus env:create $TERMINUS_SITE.dev ${CIRCLE_BUILD_NUM} || echo "mystery errors were being thrown by env:create so I am adding this OR (https://circleci.com/gh/pantheon-systems/pantheon_advanced_page_cache/610)"
            - run:
                name: site install
                command: |
                  terminus connection:set ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} sftp
                  terminus drush ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- site-install -y
                  terminus drush ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- cset system.performance cache.page.max_age 600 -y
                  # Giving anon users permission to make nodes makes the Behat test execute much faster.
                  # Perms are changed back at the end of the build.
            - run:
                name: Composer require
                command: |
                  terminus composer ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- config repositories.papc vcs git@github.com:pantheon-systems/pantheon_advanced_page_cache.git
                  terminus composer ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- config minimum-stability dev
                  terminus composer ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- require drupal/pantheon_advanced_page_cache:dev-${CIRCLE_BRANCH}#${CIRCLE_SHA1}
                  terminus composer ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- require drush-ops/behat-drush-endpoint
                  # drush dl is faster than "composer require" so use it where possible.
                  terminus drush ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- dl views_custom_cache_tag
                  terminus drush ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- en -y views_custom_cache_tag_demo pantheon_advanced_page_cache
            - run:
                name: allow anon content creation
                command: |
                  terminus drush ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- role-add-perm anonymous "create page content,create article content"
            - run:
                name: run behat
                command: ./tests/behat/run-behat.sh
            - run:
                name: Cleanup
                command: |
                  terminus drush ${TERMINUS_SITE}.${CIRCLE_BUILD_NUM} -- role-remove-perm anonymous "create page content,create article content"
